.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.7);
    border-radius: 50px 0 0 50px;

    span {
        color: whitesmoke;
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
        border: 2px solid #552200;
    }
}

.active-player {
    background-color: #552200 !important;
}